.modal {
    .background_popup {
        text-align: center;
        .close {
            color: #fff;
            color: fff;
            /* width: 68px; */
            font-size: 39px;
            font-weight: bold;
            line-height: 1;
            position: absolute;
            top: 11%;
            left: 70%;
            cursor: pointer;
        }
    }
}